@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Love+Light&family=Oswald:wght@300&family=Xanh+Mono&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main{
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    width: 100vw;
}

main>div{
    width: 50%;
    height: 50%;
    outline: 1px solid black;
    flex-direction: column;
}

.paris{
    background-color: royalblue;
    font-size: 5vh;
}

.londre{
    background-color: crimson;
    font-size: 5vh;
}

.newYork{
    background-color: goldenrod;
    font-size: 5vh;
}

.tokyo{
    background-color: antiquewhite;
    font-size: 5vh;
}

.horloge{
    font-family:'Inconsolata';
    font-size: 20vh;
    text-align: center;
}